*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: lightcyan;
    max-width: 100%;
}
html{
    font-size: 62.5%;
}

@font-face {
    font-family: header;
    src: url('../src/assets/Rubik.ttf');
}